[submodule "bench/speccpu/test-suite"]
	path = bench/speccpu/test-suite
	url = https://github.com/avahldiek/test-suite.git
[submodule "src/MemSentry"]
	path = src/MemSentry
	url = https://github.com/vusec/memsentry.git
	master = master
	branch = master
[submodule "src/dune"]
	path = src/dune
	url = https://github.com/vahldiek/dune.git
